@import "../index.scss";

.TodoItem {
    min-height: 32px;
    margin: auto;
    margin-bottom: 6px;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    border-radius: 0 1rem 1rem 0;
    background-color: none;
}

.TodoItem span {
    margin: 0%;
    padding: 0%;
    font-weight: 400;
    font-size: 22px;
}

.TodoItem__check--true {
    background-color: none;
    border: 2px solid $color-thirth;
    border-left: 0.5rem solid $color-thirth;
    color: $color-thirth;
}

.TodoItem__check--false {
    background-color: none;
    border: 2px solid $color-success;
    border-left: 0.5rem solid $color-success;
    
    p {
        text-decoration: line-through;
    }
}

.check {
    color: $color-success;
    fill: $color-success;
}

.TodoItem__icon {
    color: $color-thirth;
    padding: 4px;
    font-size: 24px;
}

.TodoItem__text {
    margin: 0%;
    padding: 0%;
    width: 100%;
    padding: 2px 24px;
    text-align: start;
    font-weight: 400;
    font-size: 24px;
    text-overflow: ellipsis;
	overflow: hidden;

    @media only screen and (max-width: 640px) {
        padding-top: 6px;
        font-size: 18px;
    }
}