.TodoItem {
    min-height: 32px;
    margin: auto;
    margin-bottom: 6px;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    border-radius: 1rem;
}

.TodoItem span {
    margin: 0%;
    padding: 0%;
    font-weight: 400;
    font-size: 22px;
    // text-align: start;
}

.TodoItem__check--true {
    background-color: #ffffff;
    border: 2px solid #3a3a3a;
    color: #3a3a3a;
}

.TodoItem__check--false {
    background-color: #ffffff;
    border: 2px solid #3abc2e;
    color: #3abc2e;
    text-decoration: line-through;
}

.TodoItem__icon {
    color: #3a3a3a;
    // border: 2px solid #3a3a3a;
    // border-radius: 50%;
    padding: 4px;
    // color: blue;
    font-size: 24px;
}

.TodoItem__text {
    margin: 0%;
    padding: 0%;
    width: 100%;
    padding: 2px 24px;
    // padding-top: 2px;
    // padding-left: 24px;
    text-align: start;
    font-weight: 400;
    font-size: 24px;
}