@import "../index.scss";

.navbarItems {
    box-sizing: border-box;
    padding: 0px;
    height: 60px;
    width: 100%;
    background-color: $color-primary;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    border-bottom: 1px solid $color-secondary;
}
.navbar__logo {
    color: $color-thirth;
    justify-self: start;
    margin: 0;
    font-size: 28px;
    font-family: $font-title;
    font-weight: 500;
    cursor: pointer;
}