@import "../../index.scss";

.TodoSearch__container {
    margin: auto;
    width: 80%;
    position: relative;
    margin-bottom: 48px;
}

.TodoSearch__input {
    width: 100%;
    height: 32px;
    outline: 0;
    border: none;
    border-bottom: 3px solid $color-3;
    padding: 24px 0 24px 48px;
    overflow: hidden;
    box-sizing: border-box;
    max-width: 940px;
    margin: 0%;
    font-size: 20px;
    // background-color: transparent;
    background-color: rgba(157, 192, 139, 0.4);
}
.TodoSearch__icon {
    position: absolute;
    left: 0;
    top: 0;
    width: 48px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-3;
}
.icon {
    font-size: 1.2em;
}
.TodoSearch__icon:focus {
    color: $color-3;
    border-color: $color-3;
}
.TodoSearch__icon ~ .icon {
    color: $color-3;
}