@import "../index.scss";

.TodoForm__container {
    border-radius: 1rem;
    padding: 1.5rem;
    height: 100%;
    max-width: 540px;
    max-height: 480px;
    margin: auto;
    margin-top: 2rem;
    background-color: $color-primary;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: 640px) {
        margin: 1.5rem;
        padding: 1rem;
        max-height: 18rem;
    }
}

.TodoForm__label {
    padding-bottom: 2rem;
    font-size: 1.5rem;

    @media only screen and (max-width: 640px) {
        font-size: 1.5rem;
    }
}

.TodoForm__textarea {
    box-sizing: border-box;
    padding: 0.75rem;
    width: 100%;
    height: 100%;
    max-width: 480px;
    max-height: 8rem;

    @media only screen and (max-width: 640px) {
        max-height: 4rem;
    }
}

.TodoForm__validation {
    box-sizing: border-box;
    width: 100%;
    border: 2px solid $color-danger;
    border-left: 8px solid $color-danger;
    border-radius: 0.5rem;
    color: $color-danger;
    background-color: rgba(255, 0, 0, 0.20);
    padding: 0.5rem 1rem;
    margin: 0.5rem 0rem;
    max-width: 480px;

    @media only screen and (max-width: 640px) {
        padding: 0.25rem 0.5rem;
    }
}

.TodoForm__valid {
    height: 4rem;
}

.TodoForm__buttons {
    padding-bottom: 3rem;
    width: 100%;
    display: flex;
    justify-content: space-around;

    @media only screen and (max-width: 640px) {
        padding-bottom: 1rem;
    }
}

.TodoForm__button-cancel {
    width: 8rem;
    height: 3rem;
    border: 0;
    border-radius: 0.5rem;
    background-color: $color-2;
    color: $color-primary;
    font-size: 1rem;
    font-family: $font-text;
    font-weight: 700;

    @media only screen and (max-width: 640px) {
        width: 5rem;
    }
}

.TodoForm__button-save {
    width: 8rem;
    height: 3rem;
    border: 0;
    border-radius: 0.5rem;
    background-color: $color-3;
    color: $color-primary;
    font-size: 1rem;
    font-family: $font-text;
    font-weight: 700;

    @media only screen and (max-width: 640px) {
        width: 5rem;
    }
}