@import "../index.scss";

.nav-container {
    margin: 0%;
    padding: 0%;
    width: 100vw;
    position: fixed;
    bottom: 0%;
    left: 0%;
    display: flex;
    justify-content: end;
    align-items: center;
    
    border-top: 1px solid $color-secondary;
    background-color: $color-primary;
    height: 80px;

    @media only screen and (max-width: 640px) {
        justify-content: space-around;

        border-top: 1px solid $color-secondary;
        background-color: $color-primary;
        height: 60px;
    }
}
.nav-button {
    border: none;
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    margin-left: 3rem;
    margin-right: 3rem;
    background-color: $btn-primary;
    color: $color-primary;
    -webkit-box-shadow: 1px 2px 8px 4px $btn-primary-shadow;
    -moz-box-shadow: 1px 2px 8px 4px $btn-primary-shadow;
    box-shadow: 1px 2px 8px 4px $btn-primary-shadow;

    @media only screen and (max-width: 640px) {
        height: 3rem;
        width: 3rem;
        margin: 0;
    }
}
.nav__link {
    width: 80px;
    text-decoration: none;
    color: $color-thirth;
    font-size: 0.8rem;
}
.nav__todos {
    width: 150px;
    border: none;
    color: $color-thirth;
    background-color: $color-primary;
    display: flex;
    flex-direction: column;

    justify-content: center;
    text-align: center;
    align-items: center;

    @media only screen and (max-width: 640px) {
        width: 80px;
    }
}