@import url(https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@400;600;700&family=Open+Sans:wght@400;600;700&display=swap);

$color-1: #EDF1D6;
$color-2: #9DC08B;
$color-3: #609966;
$color-4: #40513B; 

// $color-4: #e1b6ee;
// $color-3: #bd8fc9;
// $color-2: #755080;
// $color-1: #323247; 

// $color-1-hover: #EDF1D6;
// $color-2-hover: #a0d684;
// $color-3-hover: #5eab66;
// $color-4-hover: #4e6b46;


$color-success: $color-3;
$color-danger: #ea0000;

$font-title: 'Lobster', cursive;
$font-text: 'Montserrat', sans-serif;

$color-primary: $color-1;
$color-secondary: $color-2;
$color-thirth: $color-4;

body {
  margin: 0;
  padding: 0%;
  overflow-x: hidden;
  font-family: $font-text;
  // background-color: $color-1;
  color: $color-4;
}